mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .logo {
    width: 50px;
    height: auto;
    margin-left: 10px;
  }
}


