/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url("assets/images/background.jpg");
  background-repeat: round;
}

.d-flex {
  display: flex;

  &.space-around {
    justify-content: space-around;
  }
}

.ml10 {
  margin-left: 10px;
}
